certifi==2020.6.20
chardet==3.0.4
cycler==0.10.0
decorator==4.4.2
dgl==0.4.3.post2
future==0.18.2
idna==2.10
joblib==0.16.0
kiwisolver==1.2.0
matplotlib==3.3.0
networkx==2.4
numpy==1.19.0
Pillow==8.1.2
pyparsing==2.4.7
python-dateutil==2.8.1
requests==2.24.0
scikit-learn==0.23.1
scipy==1.5.1
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
torch==1.5.1
urllib3==1.26.5
